@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container-padre{
    display: flex;
    height: 613px;
    align-items: center; 
    gap: 10px; 
}

.rightcontainer{
    display: flex;
    flex-direction: column; 
    border: 2px;
    height: 613px;
    width: 1100px;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
}

.imghand{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    margin-top: 150px;
    margin-left: 400px;
    align-items: center; 
    justify-content: center;
}
.hand{
    height: 200px;
    width: 200px;
}

.Networ{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 400px;
    margin-left: 300px;
}

.textonet{
    font-size: 35px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}

.textochat{
    font-size: 15px;
    text-align: center;
    text-orientation: sideways-right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.cursiva{
    font-weight: bold;
    font-style: italic; 
}

.textocontact{
    font-size: 15px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;    
}

.chat{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 400px;
    margin-left: 300px;
}

.contact{
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 400px;
    margin-left: 300px;
    border: 2px solid rgb(190, 207, 36); 
}


.leftcontainer{
    display: flex;
    flex-direction: column; 
    border: 2px;
    height:613px;
    width: 270px;
    box-sizing: border-box;
    margin-top: 1px;
    margin-left: 1px;
    margin-bottom: 1px;
    background-color: beige;
}

.principalcontact{
    display: flex;
    height: 90px;
    width:265px;
    border: 1px solid rgb(9, 66, 104); 
}

.imgprincipalcontact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    width:50px;
    margin-left: 10px;
    margin-top: 10px;
}

.mariaphoto{
    border-radius: 60%;
    height: 40px;
    width:50px;
    border: 1px solid rgb(9, 66, 104); 
}

.nameprincipalcontact{
    display: flex;
    flex-direction: row;
    height: 40px;
    width:80px;
    margin-left: 10px;
    margin-top: 10px;
}
.name{
    font-size: 15px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;    
}    

.estado{
    font-size: 10px;
    color: rgb(129, 130, 131);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
}

.icons{
    width:50px;
    margin-left: 60px;
}

.newchat{
    display: flex;
    flex-direction: column; 
    height: 70px;
    width: 265px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(9, 66, 104); 
}

.button{
    cursor: pointer;
    background-color: rgb(31, 81, 94);    
    width: 200px;
    color: white;

}

.Juanita{
    display: flex;
    flex-direction: row;
    height: 90px;
    width:265px;
    border: 1px solid rgb(9, 66, 104); 
}

.Juanitaimg{
    display: flex;
    flex-direction: row;
    border-radius: 60%;
    height: 40px;
    width:50px; 
    margin-left: 10px;
    margin-top: 10px;
}

.Juanitaphoto{
    border-radius: 60%;
    height: 40px;
    width:50px;
    border: 1px solid rgb(131, 130, 131); 
}

.nameJuanita{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width:180px;
    margin-left: 5px;
    margin-top: 20px;
}


.Alberto{
    display: flex;
    flex-direction: row;
    height: 90px;
    width:265px;
    border: 1px solid rgb(9, 66, 104); 
}

.Albertoimg{
    display: flex;
    flex-direction: row;
    border-radius: 60%;
    height: 40px;
    width:50px; 
    margin-left: 10px;
    margin-top: 10px;
}

.Albertophoto{
    border-radius: 60%;
    height: 40px;
    width:50px;
    border: 1px solid rgb(131, 130, 131); 
}

.nameAlberto{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width:180px;
    margin-left: 5px;
    margin-top: 20px;
}


.Ignacio{
    display: flex;
    flex-direction: row;
    height: 90px;
    width:265px;
    border: 1px solid rgb(9, 66, 104); 
}

.Ignacioimg{
    display: flex;
    flex-direction: row;
    border-radius: 60%;
    height: 40px;
    width:50px; 
    margin-left: 10px;
    margin-top: 10px;
}

.Ignaciophoto{
    border-radius: 60%;
    height: 40px;
    width:50px;
    border: 1px solid rgb(131, 130, 131); 
}

.nameIgnacio{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width:180px;
    margin-left: 5px;
    margin-top: 20px;
}

.Cristian{
    display: flex;
    flex-direction: row;
    height: 90px;
    width:265px;
    border: 1px solid rgb(9, 66, 104);  
}

.Cristianimg{
    display: flex;
    flex-direction: row;
    border-radius: 60%;
    height: 40px;
    width:50px; 
    margin-left: 10px;
    margin-top: 10px;
}

.Cristianphoto{
    border-radius: 60%;
    height: 40px;
    width:50px;
    border: 1px solid rgb(131, 130, 131); 
}

.nameCristian{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width:180px;
    margin-left: 5px;
    margin-top: 20px;
}

.MariaJ{
    display: flex;
    flex-direction: row;
    height: 90px;
    width:265px;
    border: 1px solid rgb(9, 66, 104); 
}

.MariaJimg{
    display: flex;
    flex-direction: row;
    border-radius: 60%;
    height: 40px;
    width:50px; 
    margin-left: 10px;
    margin-top: 10px;
}

.MariaJphoto{
    border-radius: 60%;
    height: 40px;
    width:50px;
    border: 1px solid rgb(131, 130, 131); 
}

.nameMariaJ{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width:180px;
    margin-left: 5px;
    margin-top: 20px;
}


.Gonzalo{
    display: flex;
    flex-direction: row;
    height: 90px;
    width:265px;
    border: 1px solid rgb(9, 66, 104); 
}

.Gonzaloimg{
    display: flex;
    flex-direction: row;
    border-radius: 60%;
    height: 40px;
    width:50px; 
    margin-left: 10px;
    margin-top: 10px;
}

.Gonzalophoto{
    border-radius: 60%;
    height: 40px;
    width:50px;
    border: 1px solid rgb(131, 130, 131); 
}

.nameGonzalo{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width:180px;
    margin-left: 5px;
    margin-top: 20px;
}

.JuanP{
    display: flex;
    flex-direction: row;
    height: 90px;
    width:265px;
    border: 1px solid rgb(9, 66, 104); 
}

.JuanPimg{
    display: flex;
    flex-direction: row;
    border-radius: 60%;
    height: 40px;
    width:50px; 
    margin-left: 10px;
    margin-top: 10px;
}

.JuanPphoto{
    border-radius: 60%;
    height: 40px;
    width:50px;
    border: 1px solid rgb(131, 130, 131); 
}

.nameJuanP{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width:180px;
    margin-left: 5px;
    margin-top: 20px;
}

.Magadalena{
    display: flex;
    flex-direction: row;
    height: 90px;
    width:265px;
    border: 1px solid rgb(9, 66, 104); 
}

.Magadalenaimg{
    display: flex;
    flex-direction: row;
    border-radius: 60%;
    height: 40px;
    width:50px; 
    margin-left: 10px;
    margin-top: 10px;
}

.Magadalenaphoto{
    border-radius: 60%;
    height: 40px;
    width:50px;
    border: 1px solid rgb(131, 130, 131); 
}


.nameMagadalena{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
    width:180px;
    margin-left: 5px;
    margin-top: 20px;
}